<app-navbar></app-navbar>

<main>

   <section class="heroObserver hero">
     <div class="hero__box">
       <div class="hero__content">
         <h1 class="hero__title">Great coffee made simple.</h1>
         <p class="hero__desc">
           Start your mornings with the world’s best coffees. Try our
           expertly curated artisan coffees from our best roasters delivered
           directly to your door, at your schedule.
         </p>
         <a href="plan.html" class="btn btn--padding">Create your plan</a>
       </div>
     </div>
   </section>


   <article class="section collection">
     <h2 class="collection__title">our collection</h2>
     <div class="collection__list">
       <div class="collection__item">
         <img class="collection__img" src="../../assets/images/image-gran-espresso.png" aria-hidden="true"
           alt="">
         <div class="collection__content">
           <h3 class="collection__subtitle">Gran Espresso</h3>
           <p class="collection__desc">
             Light and flavorful blend with cocoa and black pepper for an
             intense experience.
           </p>
         </div>
       </div>
       <div class="collection__item">
         <img class="collection__img" src="../../assets/images/image-planalto.png" aria-hidden="true" alt="">
         <div class="collection__content">
           <h3 class="collection__subtitle">Planalto</h3>
           <p class="collection__desc">
             Brazilian dark roast with rich and velvety body, and hints of
             fruits and nuts.
           </p>
         </div>
       </div>
       <div class="collection__item">
         <img class="collection__img" src="../../assets/images/image-piccollo.png" aria-hidden="true" alt="">
         <div class="collection__content">
           <h3 class="collection__subtitle">Piccolo</h3>
           <p class="collection__desc">
             Mild and smooth blend featuring notes of toasted almond and
             dried cherry.
           </p>
         </div>
       </div>
       <div class="collection__item">
         <img class="collection__img" src="../../assets/images/image-danche.png" aria-hidden="true" alt="">
         <div class="collection__content">
           <h3 class="collection__subtitle">Danche</h3>
           <p class="collection__desc">
             Ethiopian hand-harvested blend densely packed with vibrant fruit
             notes.
           </p>
         </div>
       </div>
     </div>
   </article>

   <section class="section benefits">
     <div class="benefits__content">
       <div class="benefits__info">
         <h2 class="benefits__title">Why choose us?</h2>
         <p class="benefits__desc">
           A large part of our role is choosing which particular coffees will
           be featured in our range. This means working closely with the best
           coffee growers to give you a more impactful experience on every
           level.
         </p>
       </div>
       <ul class="benefits__list">
         <li class="benefits__item">
           <img src="../../assets/images/icon-coffee-bean.svg" alt aria-hidden="true">
           <div class="benefits__item-content">
             <h3 class="benefits__subtitle">Best quality</h3>
             <p class="benefits__desc">
               Discover an endless variety of the world’s best artisan coffee
               from each of our roasters.
             </p>
           </div>
         </li>
         <li class="benefits__item">
           <img src="../../assets/images/desktop/icon-gift.svg" alt aria-hidden="true">
           <div class="benefits__item-content">
             <h3 class="benefits__subtitle">Exclusive benefits</h3>
             <p class="benefits__desc">
               Special offers and swag when you subscribe, including 30% off
               your first shipment.
             </p>
           </div>
         </li>
         <li class="benefits__item">
           <img src="../../assets/images/home/icon-truck.svg" alt aria-hidden="true">
           <div class="benefits__item-content">
             <h3 class="benefits__subtitle">Free shipping</h3>
             <p class="benefits__desc">
               We cover the cost and coffee is delivered fast. Peak
               freshness: guaranteed.
             </p>
           </div>
         </li>
       </ul>
     </div>
   </section>


   <section class="section works">
     <div class="works__content">
       <h2 class="works__title">How it works</h2>
       <div class="works__details">
         <div aria-hidden="true" class="circle-1"></div>
         <div aria-hidden="true" class="circle-2"></div>
         <div aria-hidden="true" class="circle-3"></div>
       </div>
     </div>


     <ul class="works__list">
       <li class="works__item">
         <span class="works__number">01</span>
         <h3 class="works__subtitle">Pick your coffee</h3>
         <p class="works__desc">
           Select from our evolving range of artisan coffees. Our beans are
           ethically sourced and we pay fair prices for them. There are new
           coffees in all profiles every month for you to try out.
         </p>
       </li>
       <li class="works__item">
         <span class="works__number">02</span>
         <h3 class="works__subtitle">Choose the frequency</h3>
         <p class="works__desc">
           Customize your order frequency, quantity, even your roast style
           and grind type. Pause, skip or cancel your subscription with no
           commitment through our online portal.
         </p>
       </li>
       <li class="works__item">
         <span class="works__number">03</span>
         <h3 class="works__subtitle">Receive and enjoy!</h3>
         <p class="works__desc">
           We ship your package within 48 hours, freshly roasted. Sit back
           and enjoy award-winning world-class coffees curated to provide a
           distinct tasting experience.
         </p>
       </li>
     </ul>
     <a href="plan.html" class="btn btn--padding">Create your plan</a>
   </section>
 </main>

 <footer></footer>